<div class="task-container">
    <h2>Task List</h2>
  
    <!-- Search Input -->
    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search by username"
        (input)="searchByUsername()"
      />
    </div>
  
    <!-- Task List Table -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Address</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.id }}</td>
          <td>{{ task.username }}</td>
          <td>{{ task.address }}</td>
          <td>{{ task.date }}</td>
          <td>
              <button style="    height: 30px; width: 30px;
              background-color: #01dfd5;
              color: red;
              margin-left: 20px;" mat-fab aria-label="Example icon button with a delete icon" (click)="deleteTask(task.id, task.username)">
                 <mat-icon>delete</mat-icon>
              </button>
          </td>
        </tr>
        <tr *ngIf="tasks.length === 0">
          <td colspan="4" class="no-data">No tasks found</td>
        </tr>
      </tbody>
    </table>
    <div class="example-button-container">
      <button mat-fab extended (click)="openAddTaskDialog()">
        <mat-icon>control_point_duplicate</mat-icon>
        Add
      </button>
    </div>
    
  </div>
  