
<form [formGroup]="profileForm" (click)="onSubmit()">

  <mat-tab-group dynamicHeight >
    <mat-tab  label="Email">
      <div   class="example-small-box mat-elevation-z4">
        <br>
        <div class="input" style="margin: auto;">
       
          <mat-form-field class="example-full-width">
            <mat-label><mat-icon>call</mat-icon> Email</mat-label>
            <input matInput required formControlName="phone" name="phone" type="phone">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label><mat-icon>vpn_key</mat-icon> Password</mat-label>
            <input matInput required formControlName="password" name="password" type="password">
          </mat-form-field>               
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Phone">
      <div class="example-large-box mat-elevation-z4">
        <br>
        <mat-form-field class="example-full-width">
          <mat-label><mat-icon>call</mat-icon> Phone</mat-label>
          <input matInput required formControlName="phone" name="phone" type="phone">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label><mat-icon>vpn_key</mat-icon> Password</mat-label>
          <input matInput required formControlName="password" name="password" type="password">
         
        </mat-form-field>
  
  
      </div>
    </mat-tab>

  </mat-tab-group>
  <div class="example-button-row" style=" text-align: center;">
    <button type="submit" class="btn-signUp" mat-flat-button>
      <mat-icon>exit_to_app</mat-icon> Login    
    </button>
  </div>
</form>
<!-- Displaying the submitted data as a list -->
 <div class="list" style="text-align: center;  ">
<h2>Submitted Users Data:</h2>
<ul>
  <li *ngFor="let user of users">
    Phone: {{ user.phone }} | Password: {{ user.password }}
  </li>
</ul>
</div>



