
<!-- <app-interperation></app-interperation> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-template-referance></app-template-referance> -->
<!-- <app-twoway-binding></app-twoway-binding>
 <app-structure-directive></app-structure-directive> -->
<!-- <app-form-group></app-form-group> -->

<app-signup></app-signup>


  <!-- Age :{{theAge}}
  <app-component-interaction (myChildEvent)="recieveAge($event)" [parentData]="name"></app-component-interaction> -->
<!-- <app-user-input></app-user-input> -->