/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Global styles.css or component-specific CSS */
@keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-dialog .mat-dialog-container {
    animation: slideInFromRight 0.5s ease-out; /* Adjust timing as needed */
  }
  